@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-select-btn {
    @apply sm:h-full w-12 bg-primaryBlueLight text-primaryBlue text-sm font-light rounded-md;
  }
  .title-select-btn.active {
    @apply bg-primaryTealLight text-[#2dd1b6];
  }
  .normal-input {
    @apply w-full border border-transparent bg-primaryBlueLight sm:text-[16px] text-base text-primaryBlue h-12 rounded-md px-4 outline-none placeholder:text-primaryBlue;
  }
  .title-button {
    @apply w-12 h-12 rounded-md sm:text-sm text-base;
  }

  .form-input {
    @apply bg-primaryBlueLight text-primaryBlue px-4 text-[16px] placeholder:text-primaryBlue rounded-md outline-none;
  }
  .form-input.success {
    @apply bg-primaryTealLight text-[#32ad99];
  }
  .active-skill {
    @apply bg-primaryTealLight text-primaryTeal;
  }
  .cofirm-card {
    @apply w-full p-4 rounded-md min-h-[150px] flex flex-row gap-4 items-start bg-primaryBlueLight;
  }
  .sidenav-item {
    @apply cursor-pointer w-full rounded-md py-3 bg-transparent flex flex-row items-center justify-start pl-8 gap-3 text-gray-400;
  }
  .sidenav-item.active {
    @apply bg-primaryBlueLight text-skyBlue;
  }
  .sidenav-item-mobile {
    @apply cursor-pointer flex flex-col items-center text-gray-400;
  }
  .sidenav-item-mobile.active {
    @apply text-skyBlue;
  }
  .job-card {
    @apply bg-white w-full rounded-md sm:pl-8 pl-3 pr-5 py-4 flex flex-row sm:gap-6 gap-4 items-center justify-between cursor-pointer shadow-card;
  }
  .job-card.active {
    @apply border border-2 border-teal-200;
  }
  .badge {
    @apply p-2 text-sm bg-red-400 rounded-md text-white;
  }
  .dropzone {
    @apply w-full flex flex-col items-center justify-center py-16 bg-gray-100 rounded-xl border-2 border-dashed border-gray-300;
  }
  .dropzone.focused {
    @apply border-2 border-blue-300;
  }
  .dropzone.accept {
    @apply border-2 border-green-500;
  }
  .dropdown-menu-item {
    @apply p-1 px-2 mb-2 cursor-pointer hover:bg-gray-200 rounded-md transition-all ease-in-out duration-100;
  }
  .status-button {
    @apply w-32 cursor-default text-sm font-semibold py-2 rounded-md
  }
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  height: 100%;
  background-color: #F7F9FA;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(150%);
  background-color: #fff;
}

input:checked ~ .block {
  background-color: #007aff;
  transition: 0.4s ease-in-out;
}

/* Marker Styles */
.marker-bg {
  width: 2rem;
  height: 2rem;
  background: #fff;
  padding: 0.4rem;
  border-radius: 100%;
}

.marker-inner {
  width: 100%;
  height: 100%;
  background-color: #007aff;
  border-radius: 100%;
}